html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  overflow: auto;
  position: relative;
  height: 100vh;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer {
  background-color: #F9482B;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 15px;
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #5e2195;
}

.wrapper {
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

/* create pizza form */

.create-pizza {
  background: #f7f7f7;
  padding: 20px;
}

.create-pizza label,
.create-pizza select {
  display: block;
}

.create-pizza label {
  margin-top: 30px;
}

.create-pizza select {
  padding: 8px;
  width: 200px;
}

.create-pizza input[type=checkbox] {
  margin: 10px;
}

.create-pizza input[type=submit] {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

.create-pizza fieldset {
  border: 0;
}

/* pizza details page */

.pizza-details {
  background: #f7f7f7;
  padding: 20px;
}

.pizza-details p {
  margin: 20px 0;
  font-weight: bold;
}

.pizza-details button {
  background: #5e2195;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

a.back {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #5e2195;
  margin-bottom: 20px;
}

/* pizza index page */

.pizza-index h1 {
  margin-bottom: 40px;
}

.pizza-index .pizza-item {
  margin: 10px 0;
  padding: 12px;
  background: #f4f4f4;
}

.pizza-index .pizza-item img {
  width: 60px;
  display: inline-block;
}

.pizza-index .pizza-item h4 {
  display: inline-block;
  font-weight: normal;
  margin-left: 20px;
}

.pizza-index .pizza-item h4 a {
  color: #777;
  text-decoration: none !important;
}

.headerbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 100%;
  margin-left: 50px;
  padding-top: 10px;
  padding-right: 20px;
}

.navlogo {
  filter: invert(1);
}

.logowidth {
  width: 250px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-right: 50px;
}

.borderline {
  border-bottom: 2px solid #F9482B;
}

.middlenav {
  margin-left: 20px;
  align-items: center;
}

.rightnav {
  padding: 10px;
  font-size: medium;
}

.navlogo {
  display: inline-block;
}

.navspan {
  display: inline-block;
}

.seperator {
  width: 0px;
  height: 0px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.foot {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  padding: 15px;
  align-content: center;
  width: 18%;
}

.footlogo {
  align-content: center;
  width: 150px;
  height: 60px;
  margin-left: 10px;
  margin-top: 25px;
  margin-right: 25px;
}

.footertitle {
  color: black;
  font-weight: bold;
  align-content: center;
  font-size: medium;
}

.download {
  width: 50%;
  height: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.download-icon {
  width: 40px;
  height: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px;
}

.download-icon:hover {
  margin-bottom: 5px;
  filter: brightness(1.5);
}

.copyright {
  background-color: #F9482B;
  color: white;
  text-align: center;
}

.empty-space {
  margin-top: 100px;
}

.testborder {
  border: 3px solid green;
}

/*maincontent css*/

.topslider {
  width: 100%;
  margin-top: 45px;
  position: relative;
  overflow: auto;
}

/*-----------------------------------------------*/

.findyour {
  width: 100%;
  margin-top: 45px;
  position: relative;
  overflow: auto;
}

.imageleft {
  float: left;
  width: 30%;
  height: 80%;
}

.searchNdetails {
  float: right;
  width: 55%;
  height: 80%;
}

.learnmore {
  text-decoration: none;
  color: #F9482B;
}

.learnmore:hover,
.learnmore:visited,
.learnmore:link,
.learnmore:active {
  text-decoration: none;
  color: #F9482B;
}

.searchicon {
  color: white;
  background-color: #F9482B;
  outline-color: white;
}

.searchicon:hover {
  color: white;
  background-color: #F9482B;
  outline-color: white;
}

/*------------------------------------------------*/

.cash-checkin {
  width: 100%;
  margin-top: 45px;
  position: relative;
  overflow: auto;
}

.cashbackstore {
  width: 45%;
  height: 90%;
  margin-top: 35px;
  float: left;
}

.cashbackcol {
  width: 512px;
  height: 300px;
}

.cashbackpng {
  width: 128px;
  height: 64px;
  margin-right: 10px;
}

.cashbackspan {
  text-align: center;
  text-decoration: none;
}

.cashbacklink,
.cashbacklink:hover {
  text-decoration: none;
  color: #636b6f;
}

.morestore {
  margin-top: 10px;
  font-style: 15px;
}

.dailycheck {
  width: 45%;
  height: 90%;
  margin-top: 35px;
  float: right;
}

.dailycheckcardbody {
  padding: 30px;
  margin-top: 50px;
}

/*------------Swiper css-------------------------*/

/*Shopper*/

.shopper {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.srtitle {
  white-space: nowrap;
  width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.srpng {
  width: 15rem;
  height: 10rem;
}

.srprofileicon {
  width: 2rem;
  height: 2rem;
}

.btm-icon {
  width: 1rem;
  height: 1rem;
}

.btmnav {
  height: 1rem;
}

/*item*/

.item {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.iconborder {
  border: 2px solid gray;
  margin-left: 1px;
  margin-right: 1px;
}

.txt-width {
  width: 12rem;
  text-overflow: clip;
}

.itempng {
  width: 16rem;
  height: 8rem;
}

/*featurestore*/

.featurestore {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.popular-star {
  height: 35px;
  width: 35px;
}

.popular-label {
  width: 53px;
  height: 35px;
  top: 0;
  left: 10px;
}

.storename {
  color: skyblue;
}

/*event*/

.event {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*-----------------------------------------------*/

/*style*/

.font-35 {
  font-size: 35px;
}

.font-30 {
  font-size: 30px;
}

.font-20 {
  font-size: 20px;
}

.font-15 {
  font-size: 15px;
}

.font-12 {
  font-size: 12px;
}

.font-45 {
  font-size: 45px;
}

.font-10 {
  font-size: 10px;
}

.font-bold {
  font-weight: bold;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.bg-octa {
  background-color: #F9482B;
}

.c-octa {
  color: #F9482B;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.display-inline {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noborder {
  border-top: none;
  border-left: none;
  border-right: none;
}

.noneborder {
  border: none;
}

.none {
  text-decoration: none;
}

.txt-align-left {
  text-align: left;
}

.txt-long {
  text-overflow: ellipsis;
}

/*slideshow css*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #F9482B;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: white;
  border: 1px solid;
  border-color: #F9482B;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/*slide style*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.event-slide {
  margin-left: 15px;
  margin-right: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

